@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
.navbar-menu {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #282c34;
  color: #fff;
  padding: 0px 20px;
}
.navbar-menu h1 {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.cart-menu {
  position: absolute;
  right: 20px;
  top: 5px;
}
.navbar-menu .container-header {
  width: 1200px;
  display: flex;
  position: relative;
  margin: auto;
}
.navbar-menu ul li {
  display: inline-block;
  padding-right: 30px;
}

.navbar-menu ul {
  display: inline-flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
